.text {
    margin: 5vw;
    font-size: 1.5vw;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

span {
    font-size: 2.5vw;
    white-space: nowrap;
}

p {
    width: 95%;
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 15vw;;
}

.fakeline {
    width: 100%;    
    border: black 0.01vw solid;
}