#nav div{
    transition-duration: 0.7s;
}

#nav div:hover {
    transform: scale(1.15);
}

#nav {
    transition: 0.5s;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#nav.active {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}

div#menu {
    background-color: #87E8DC;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#logo {
    font-size: 5vw;
    color: #000000;
    width:fit-content;
    height: fit-content;
    margin-left: 3vw;
    /* border: 5px solid black; */
}

ul#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.block {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2vw;
}

ul#nav div {
    font-size: 2vw;
    padding: 0.5vw 1vw;
    width: fit-content;
    height: fit-content;
    border-radius: 0.5em;
}