#product-container {
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}


#product {
    transition-duration: 0.5s;
    margin-bottom: 5vw;
}

#product:hover {
    transform: scale(1.05);
}

#photo {
    height: 22vw;
    width: 17vw;
    background-color: rgb(189, 189, 189);
    margin-right: 1.75vw;
    margin-left: 1.75vw;
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15);
    background-size: cover;
}

#name {
    font-size: 2vw;
    /* border: 1px teal solid; */
    height: fit-content;
    width: 16vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: center;
    padding-top: 1vw;
}