@media screen and (max-width:800px) {
    iframe {
        height: 50vw;
        resize: both;
    }

    #social-networks {
        flex-wrap: wrap;
        justify-content: center;
    }

    #social-container {
        margin-bottom: 0;
    }

    #social-icon, #social-icon-tel {
        width: 20vw;
        height: 20vw;
        background-color:#87E8DC;
        text-align: center;
        margin: 3vw;
        margin-bottom: 5vw;
    }
}

@media screen and (max-width:440px) {
    iframe {
        height: 80vw;
        resize: none;
    }

    #social-networks {
        flex-wrap: wrap;
        justify-content: center;
    }

    #social-container {
        margin-bottom: 0;
    }

    div#title {
        font-size: 10vw;
        margin-bottom: 1vw;
    }

    #social-icon, #social-icon-tel {
        width: 35vw;
        height: 35vw;
        background-color:#87E8DC;
        text-align: center;
        margin: 3vw;
        margin-bottom: 5vw;
    }
}